@charset 'utf-8';

/* Font */
@font-face {
	font-family: "S-CoreDream-6Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "S-CoreDream-5Medium";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "S-CoreDream-4Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Vibur";
	src: local("Vibur"), url(https://fonts.gstatic.com/s/vibur/v11/DPEiYwmEzw0QRgTuJDs.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	font-style: normal;
	font-weight: 400;
}

/* reset */
* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}
body {
	background: linear-gradient(to right, #433d4b, #011627, #544060, #2c2038);
	background-size: 500% 500%;
	background-position: 50% 50%;
	font-family: "S-CoreDream-4Regular";
}
.blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	line-height: 0;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	clip: rect(0, 0, 0, 0);
}

/* mixin */
@mixin browsers($info) {
	animation: $info;
	-webkit-animation: $info;
	-moz-animation: $info;
	-ms-animation: $info;
	-o-animation: $info;
}

/* background */
.projectWrap {
	overflow: hidden;
	position: relative;
	padding: 0 20px;
}
.star {
	position: absolute;
	display: inline-block;
	background-color: #e5e5e5;
	box-shadow: #fff 2px 1px 3px 0px;
	border-radius: 5px;
}

@for $i from 1 through 100 {
	.star#{$i} {
		$speed: random(15) + 10 + s;
		$delay: -(random(25)) + s;
		$size: random(1) + 1px;
		$opacity: random(100) / 100;
		top: random(100) + 0%;
		left: random(100) + 0%;
		width: $size;
		height: $size;
		opacity: $opacity;
		@include browsers(shiningStar $speed $delay infinite);
	}
}

/* header */
.projcetheader {
	padding: 120px 0;
	text-align: center;
	.projectLogo {
		color: #fed128;
		font: 50px "Vibur";
		letter-spacing: 2px;
		text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fa1c16, 0 0 0.5em #fa1c16, 0 0 0.1em #fa1c16, 0 10px 3px #000;
		text-transform: uppercase;
		.words {
			display: block;
		}
		.blink {
			@include browsers(textBlink linear infinite 2s);
		}
	}
	.projectTitle {
		position: relative;
		padding-top: 100px;
		color: #28d7fe;
		font: 30px "Vibur";
		letter-spacing: 2px;
		text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #1041ff, 0 0 0.5em #1041ff, 0 0 0.1em #1041ff, 0 10px 3px #000;
		text-transform: uppercase;
		@include browsers(titleBlink linear infinite 2s);
		&:before {
			position: absolute;
			top: 50px;
			left: 50%;
			transform: translateX(-50%);
			width: 30px;
			height: 2px;
			background-color: #83f52c;
			border-radius: 2px;
			box-shadow: 0 0 0.1em #83f52c;
			@include browsers(blockBlink linear infinite 2s);
			content: "";
		}
	}
}

/* content */
.projectSection {
	padding: 100px 0;
	box-sizing: border-box;
	text-align: center;
}
.projectHeading {
	color: #ebffff;
	font: 40px "Vibur";
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
	text-transform: uppercase;
}
.projectCont {
	margin-top: 50px;
}
.projectDesc {
	color: #eee;
	font: 24px "Vibur";
	line-height: 2;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #a6a5a5, 0 0 50px #a6a5a5;
	text-align: center;
}
.projectGraphBox {
	margin-top: 50px;
	text-align: center;
}
.projectGraph {
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 300px;
	height: 150px;
	margin: 30px 20px 0;
	box-sizing: border-box;
	.graph {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 300px;
		border: 50px solid rgba(0, 0, 0, 0.15);
		border-radius: 50%;
		box-sizing: border-box;
	}
	.title {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		color: #cacaca;
		font-size: 22px;
		font-weight: 600;
	}
}
.projectMultitGraph {
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 300px;
	height: 150px;
	margin: 30px 20px 0;
	transform-origin: 50% 0%;
	box-sizing: border-box;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 300px;
		border: 50px solid rgba(0, 0, 0, 0.15);
		border-radius: 50%;
		box-sizing: border-box;
		transform-origin: 50% 0%;
		content: "";
	}
	.graph {
		position: absolute;
		top: 100%;
		left: 0;
		width: 300px;
		height: 150px;
		border-top: 0 none !important;
		border-radius: 0 0 300px 300px;
		transform-origin: 50% 0% 0;
		box-sizing: border-box;
		z-index: 5;
		cursor: pointer;
		.info {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 5px;
			border-radius: 2px;
			box-sizing: border-box;
			color: #fff;
			font-weight: 200;
			font-size: 12px;
			line-height: 20px;
			transition: 0.2s ease-in;
			transform-origin: 0 50% 0;
			opacity: 0;
		}
		&:hover {
			opacity: 0.8;
			.info {
				opacity: 1;
				left: 30px;
			}
		}
	}
	.title {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		color: #cacaca;
		font-size: 22px;
		font-weight: 600;
		text-shadow: rgb(245, 252, 255) 0px 0px 4px, rgb(245, 252, 255) 0px 0px 10px;
	}
}
.projectTimeline {
	padding: 50px 0;
	li {
		position: relative;
		width: 6px;
		margin: 0 auto;
		padding-top: 50px;
		background: #fff;
		.projectTimePoint {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: #f45b69;
			transition: all 0.4s 0.2s;
			&:before {
				content: "";
				position: absolute;
				top: 0px;
				left: 0px;
				width: 24px;
				height: 24px;
				background-color: transparent;
				border: 2px solid #f45b69;
				border-radius: 50%;
				@include browsers(bounceCircle infinite 1.6s 0.4s);
				content: "";
			}
			&:after {
				content: "";
				position: absolute;
				top: 0px;
				left: 0px;
				width: 24px;
				height: 24px;
				background-color: transparent;
				border: 2px solid #f45b69;
				border-radius: 50%;
				@include browsers(bounceCircle infinite 0.8s 0.4s);
			}
		}
		.projectTimeItem {
			visibility: hidden;
			position: relative;
			bottom: 0;
			width: 400px;
			padding: 20px 15px;
			border-radius: 5px;
			box-sizing: border-box;
			background: #f45b69;
			box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 0 0px 15px #923840, 0 0 10px #f6bbc1, 0 0 30px #f45b69;
			color: #eee;
			word-break: keep-all;
			opacity: 0;
			transition: all 0.5s ease-in-out;
			&:before {
				content: "";
				position: absolute;
				bottom: 7px;
				width: 0;
				height: 0;
				border-style: solid;
			}
			.projectTimeName {
				display: block;
				margin-bottom: 10px;
				font-size: 18px;
				font-weight: bold;
			}
			.projectTimePeriod {
				display: block;
				margin-bottom: 10px;
				font-size: 12px;
			}
			.projectTimeDetail {
				display: block;
				font-size: 14px;
			}
		}
		&:nth-child(odd) {
			.projectTimeItem {
				left: 45px;
				transform: translate3d(200px, 0, 0);
				&:before {
					left: -15px;
					border-width: 8px 16px 8px 0;
					border-color: transparent #f45b69 transparent transparent;
				}
			}
		}
		&:nth-child(even) {
			.projectTimeItem {
				left: -439px;
				transform: translate3d(-200px, 0, 0);
				&:before {
					right: -15px;
					border-width: 8px 0 8px 16px;
					border-color: transparent transparent transparent #f45b69;
				}
			}
		}
	}
}

/* animations */
.opacityAni {
	opacity: 0;
	transform: translateX(0px) translateY(-20px) translateZ(0px);
	transition: opacity 500ms ease 0s, transform 500ms ease 0s;
}
.revealAni {
	display: inline-block;
	position: relative;
	.reveal-cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		z-index: 1;
	}
	.reveal-text {
		opacity: 0;
	}
	&.loaded {
		.reveal-cover {
			@include browsers(coverReveal ease-in-out 1.5s);
		}
		.reveal-text {
			opacity: 1;
			@include browsers(textReveal ease-in-out 1.5s);
		}
	}
}
.typingAni {
	span {
		opacity: 0;
		@include browsers(textTyping ease-in-out 0.7s);
		animation-fill-mode: forwards;
	}
}
.slideLeftAni {
	@include browsers(slideInLeft);
}
@keyframes shiningStar {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 0.5;
	}
	40% {
		opacity: 0;
	}
	60% {
		opacity: 0.5;
	}
	80% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
@keyframes textBlink {
	78% {
		color: inherit;
		text-shadow: inherit;
	}
	79% {
		color: #333;
	}
	80% {
		text-shadow: none;
	}
	81% {
		color: inherit;
		text-shadow: inherit;
	}
	82% {
		color: #333;
		text-shadow: none;
	}
	83% {
		color: inherit;
		text-shadow: inherit;
	}
	92% {
		color: #333;
		text-shadow: none;
	}
	92.5% {
		color: inherit;
		text-shadow: inherit;
	}
}
@keyframes titleBlink {
	0%,
	100% {
		text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
		color: #28d7fe;
	}
	50% {
		text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
		color: #146c80;
	}
}
@keyframes blockBlink {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	10.1% {
		opacity: 0;
	}
	11% {
		opacity: 0;
	}
	11.1% {
		opacity: 1;
	}
	12% {
		opacity: 1;
	}
	12.1% {
		opacity: 0;
	}
	13% {
		opacity: 0;
	}
	13.1% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	71.9% {
		opacity: 0;
	}
	72% {
		opacity: 0;
	}
	72.1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes coverReveal {
	0% {
		width: 0;
		left: 0;
	}
	44% {
		width: 100%;
		left: 0;
	}
	54% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes textReveal {
	0% {
		opacity: 0;
	}
	44% {
		opacity: 0;
	}
	54% {
		opacity: 1;
	}
}
@keyframes fillAnimation {
	0% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(135deg);
	}
}
@keyframes fillGraphAnimation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
}
@keyframes textTyping {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
@keyframes bounceCircle {
	0% {
		opacity: 1;
		transform: scale(0);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

/* media query */
@media screen and (max-width: 900px) {
	.projectTimeline {
		li {
			.projectTimeItem {
				width: 250px;
			}
			&:nth-child(even) {
				.projectTimeItem {
					left: -289px;
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.projectTimeline {
		li {
			margin-left: 20px;
			.projectTimeItem {
				width: calc(100vw - 140px);
			}
			&:nth-child(even) {
				.projectTimeItem {
					left: 45px;
					&:before {
						left: -15px;
						border-width: 8px 16px 8px 0;
						border-color: transparent #f45b69 transparent transparent;
					}
				}
			}
		}
	}
}
