@charset 'utf-8';

/* Font */
@font-face {
	font-family: "S-CoreDream-6Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "S-CoreDream-5Medium";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "S-CoreDream-4Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Vibur";
	src: local("Vibur"), url(https://fonts.gstatic.com/s/vibur/v11/DPEiYwmEzw0QRgTuJDs.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	font-style: normal;
	font-weight: 400;
}

/* reset */
* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}
body {
	background: #011627;
	font-family: "S-CoreDream-4Regular";
}
.blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	line-height: 0;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	clip: rect(0, 0, 0, 0);
}

/* mixin */
@mixin browsers($info) {
	animation: $info;
	-webkit-animation: $info;
	-moz-animation: $info;
	-ms-animation: $info;
	-o-animation: $info;
}

/* background */
.star {
	position: absolute;
	display: inline-block;
	background-color: #e5e5e5;
	box-shadow: #fff 2px 1px 3px 0px;
	border-radius: 5px;
}

@for $i from 1 through 100 {
	.star#{$i} {
		$speed: random(15) + 10 + s;
		$delay: -(random(25)) + s;
		$size: random(1) + 1px;
		$opacity: random(100) / 100;
		top: random(100) + 0%;
		left: random(100) + 0%;
		width: $size;
		height: $size;
		opacity: $opacity;
		@include browsers(shiningStar $speed $delay infinite);
	}
}

/* header */
.projcetheader {
	padding: 70px 0;
	text-align: center;
	.projectLogo {
		color: #fed128;
		font: 50px "Vibur";
		letter-spacing: 2px;
		text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fa1c16, 0 0 0.5em #fa1c16, 0 0 0.1em #fa1c16, 0 10px 3px #000;
		.words {
			display: block;
		}
		.blink {
			animation: logoBlink linear infinite 2s;
		}
	}
	.projectTitle {
		padding-top: 70px;
		color: #28d7fe;
		font: 30px "Vibur";
		letter-spacing: 2px;
		text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #1041ff, 0 0 0.5em #1041ff, 0 0 0.1em #1041ff, 0 10px 3px #000;
		text-transform: uppercase;
		animation: titleBlink linear infinite 2s;
	}
}

/* animations */
@keyframes shiningStar {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 0.5;
	}
	40% {
		opacity: 0;
	}
	60% {
		opacity: 0.5;
	}
	80% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
@keyframes logoBlink {
	78% {
		color: inherit;
		text-shadow: inherit;
	}
	79% {
		color: #333;
	}
	80% {
		text-shadow: none;
	}
	81% {
		color: inherit;
		text-shadow: inherit;
	}
	82% {
		color: #333;
		text-shadow: none;
	}
	83% {
		color: inherit;
		text-shadow: inherit;
	}
	92% {
		color: #333;
		text-shadow: none;
	}
	92.5% {
		color: inherit;
		text-shadow: inherit;
	}
}
@keyframes titleBlink {
	0%,
	100% {
		text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
		color: #28d7fe;
	}
	50% {
		text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
		color: #146c80;
	}
}
